.posts h4 {
font-size: 26px;
font-weight: 600;
line-height: 39px;
}
.posts p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #67676a;
}

.posts .box {
  border: 1px solid #DDDEE0;
  padding: 32px 50px;
}

.posts input, .posts textarea {
  border: 1px solid #DDDEE0;
  height: 48px;
  border-radius: 10px;
  outline: none;
  padding: 14px 24.35px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: black;
  &::placeholder {
    font-weight: 500;
    color: #808185
  }
}

.posts textarea {
  height: 161px !important;
  resize: none;
}

.posts label {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
}

.save-btn {
  height: 48px;
  padding: 8px 32px;
  border-radius: 8px;
  background: #456FBA;
  color: #fff;
  border: none;
}